{% extends "layouts/base.html" %}

{% block title %}Ecommerce - About{% endblock %}

{% block content %}
<h1>About us</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lectus enim, facilisis a mollis eget, malesuada a 
    ipsum. Etiam eget condimentum dolor. Vivamus vel odio eu eros consequat ultricies. Suspendisse potenti. Cras ut 
    sodales tortor. Donec tincidunt, mauris a elementum porttitor, dui leo sollicitudin velit, id malesuada ligula neque 
    quis neque. In dignissim purus velit, sit amet sagittis urna dignissim nec. Suspendisse fringilla urna in ultrices 
    vestibulum. Donec semper odio quis metus tincidunt, id commodo enim pharetra.
</p>
<p>
    Ut neque lorem, vestibulum ac accumsan a, ultricies vitae ex. Donec orci diam, placerat ut convallis eget, tincidunt 
    eget metus. Fusce consequat cursus diam quis congue. Cras in luctus augue, in dictum odio. Curabitur tellus tortor, 
    gravida tincidunt diam in, placerat consequat eros. Curabitur ut neque fermentum lorem ornare porta id suscipit 
    turpis. Quisque consequat tellus sit amet condimentum commodo. Fusce sapien nisl, auctor venenatis dignissim vitae, 
    scelerisque et nunc. Donec mattis mauris est, vel dignissim velit ultrices hendrerit. Quisque pellentesque lorem 
    est, et feugiat quam pellentesque id. Mauris dapibus tincidunt mauris. Nunc leo neque, aliquet non feugiat sit amet, 
    tristique a metus. Donec at eros eu nunc lobortis venenatis.
</p>
{% endblock %}